{% extends 'base.html' %}


{% block title %}
{{title}}
{% endblock title %}




{% block content %}
<h3>Введите длину стены для раскладки блоков</h3>

<form action="/block_result" method="POST">
    <input type="text" name="width_block">

    <button type="submit">разложить</button>
</form>


<h3>предыдущие запросы пользователей</h3>


{%for one_query in log_query%}
<!--дата ({{one_query.date}})   Значение запроса ({{one_query.data_query}})<br>-->
дата ({{one_query.date.strftime('%Y-%m-%d(%H:%M)')}})   Значение запроса ({{one_query.data_query}})<br>
{%endfor%}

{% endblock content %}