{% extends 'base.html' %}

{% block title %}
Раскладка плит
{% endblock title %}

{% block content %}
<h3>Раскладка плит</h3>

<form action="/plat_result" method="POST">
    <p>введите ширину плиты Тип1</p>
    <input type="text" name="width1_plat" value="1200">

    <p>введите ширину плиты Тип2</p>
    <input type="text" name="width2_plat" value="1500">

    <p>введите длину участка раскладки плит</p>
    <input type="text" name="lenght_plat">
    <button type="submit">запустить</button>
</form>

<h3>предыдущие запросы пользователей</h3>


{%for one_query in log_query%}
<!--дата ({{one_query.date}})   Значение запроса ({{one_query.data_query}})<br>-->
дата ({{one_query.date.strftime('%Y-%m-%d(%H:%M)')}})   Значение запроса ({{one_query.data_query}})<br>
{%endfor%}

{% endblock content %}










<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>{{title}}</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Раскладка плит</h1>-->

<!--<form action="/plat_result" method="POST">-->
<!--    <p>введите ширину плиты Тип1</p>-->
<!--    <input type="text" name="width1_plat">-->

<!--    <p>введите ширину плиты Тип1</p>-->
<!--    <input type="text" name="width2_plat">-->

<!--    <p>введите длину участка раскладки плит</p>-->
<!--    <input type="text" name="lenght_plat">-->
<!--    <button type="submit">запустить</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->